@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --isometric: rotateX(50deg) rotateZ(45deg);
  --unisometric: rotateZ(-45deg) scaleY(1.414);
}

/* transforms */
.isometric {
  transform: var(--isometric);
  transform-style: preserve-3d;
  /* perspective: 20vmin; */
}

.unisometric {
  transform: var(--unisometric);
  transform-style: preserve-3d;
}
