@tailwind base;
@tailwind components;
@tailwind utilities;

/* transforms */
.isometric {
  transition: all 0.25s ease-in-out;
  /* the first translateZ is to avoid clipping with the un-translated background */
  transform: rotateX(var(--base-x)) rotateZ(var(--base-z));
  transform-style: preserve-3d;
}

.unisometric {
  transform: rotateZ(var(--base-z-reverse)) scale(var(--scale));
  transform-style: preserve-3d;
}

.filter {
  filter: url('#turb');
}

.pixelate {
  filter: url('#pixelate');
}
