@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.parent {
  /* if we want perspective */
  /* perspective: 100vmin; */
  /* perspective-origin: 50% 33%; */
  /* transform-style: preserve-3d; */
}

/* transforms */
.isometric {
  /* the first trannslateZ is to avoid clipping with the un-translated background */
  transform: translateZ(400px) rotateX(var(--base-x)) rotateZ(var(--base-z));
  transform-style: preserve-3d;
}

.unisometric {
  transform: rotateZ(var(--base-z-reverse)) scale(var(--scale));
  transform-style: preserve-3d;
}
